[access "refs/*"]
	owner = group user/hamecoded (hamecoded)
[access "refs/for/refs/*"]
	read = group user/hamecoded (hamecoded)
	push = group user/hamecoded (hamecoded)
	label-Code-Review = -2..+2 group user/hamecoded (hamecoded)
	label-Verified = -1..+1 group user/hamecoded (hamecoded)
	rebase = group user/hamecoded (hamecoded)
	removeReviewer = group user/hamecoded (hamecoded)
	submit = group user/hamecoded (hamecoded)
[access "refs/heads/*"]
	read = group user/hamecoded (hamecoded)
	create = group user/hamecoded (hamecoded)
	push = +force group user/hamecoded (hamecoded)
	pushMerge = group user/hamecoded (hamecoded)
[access "refs/tags/*"]
	push = +force group user/hamecoded (hamecoded)
	pushTag = group user/hamecoded (hamecoded)
	pushSignedTag = group user/hamecoded (hamecoded)
